body {
    background-color: #1F1F1F;
    color: white;
    display: flex;
    margin: 0;
    font-family: "Text-Regular";
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
footer{
    padding: 15px;
}
H1,H2,H3 {
    font-family: "Titles-Bold";
    text-align: center;
}

/* Fonts */

/* Titles fonts */
@font-face {
    font-family: "Titles-Bold";
    src: url("/fonts/Merienda/Merienda-Bold.ttf");
}


/* Text fonts */
@font-face {
    font-family: "Text-Bold";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Text-Regular";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Text-Light";
    src: url("/fonts/Montserrat/Montserrat-Light.ttf");
}

.decks {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Titles-Bold";
    /* font-size: 2.5rem; */
}
.deck {
    
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background:  linear-gradient(#e66465, #9198e5);
    border-radius: 15px;
    margin: 1vw;
    cursor: pointer;
}

@media (max-width: 768px){
    .deck {
        width: calc(100% / 3);
        margin: 1.5vw;

    }
}
@media (max-width: 430px){
    .deck {
        width: 80%;
        margin: 2vw;
    }
}