body {
    background-color: #1F1F1F;
    color: white;
    display: flex;
    margin: 0;
    font-family: "Text-Regular";
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
footer{
    padding: 15px;

}
H1,H2,H3,H4,H5 {
    font-family: "Titles-Bold";
    text-align: center;
}

/* Fonts */

/* Titles fonts */
@font-face {
    font-family: "Titles-Bold";
    src: url("/fonts/Merienda/Merienda-Bold.ttf");
}


/* Text fonts */
@font-face {
    font-family: "Text-Bold";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Text-Regular";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Text-Light";
    src: url("/fonts/Montserrat/Montserrat-Light.ttf");
}

.decks {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Titles-Bold";
    /* font-size: 2.5rem; */
}
.deck {
    
    width: calc(100vw / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background:  linear-gradient(#e66465, #9198e5);
    border-radius: 15px;
    margin: 1vw;
    cursor: pointer;
}

@media (max-width: 768px){
    .deck {
        width: calc(100% / 3);
        margin: 1.5vw;

    }
}
@media (max-width: 430px){
    .deck {
        width: 80%;
        margin: 2vw;
    }
}

.subject {
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.cardsColumn {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}
.card {
    height: 90px;
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2vw;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(24, 24, 24);
    text-align: center;
}
.cardQuestion {
    background:  linear-gradient(#5192c7, #91c2da);
}
.cardResponse {
    background:  linear-gradient(#c75151, #df9caa);
}

.checkboxField{
    height: 130px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2vw;
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.048);
}

.is-hidden{
    visibility: hidden;
}
#submit-button{
    background: linear-gradient(#73bb9a, #afebd4);
    color: black;
    font-weight: bold;
    font-family: 'Titles-Bold';
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    padding: 20px;
    font-family: 'Titles-Bold';
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
#submit-button:active{
    background: lightslategray;
    color: white;
    
}
#score {
    padding: 5vw;
    font-size: 1.5em;
}

/* checkbox style */

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: linear-gradient(#397c4a, #afebd4);
}